__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi

# build artifacts
build/
dist/
*.egg-info/
.eggs/

# virtualenvs
.venv/
venv/
env/

# env files
.env

# editors/OS
.vscode/
.idea/
.DS_Store

# Odoo common
*.log
*.pot
*.swp
*.swo